@model IEnumerable<QLKS.Models.db_Floor>
<div class="dropdown-menu d" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="@Url.Action("Roomdiagram","RoomDiagram")">Toàn bộ phòng</a>
    @foreach (var i in Model)
    {
        <a class="dropdown-item" href="@Url.Action("FindFloor", "RoomDiagram", new { id = i.id })">Tầng @i.Floor</a>
    }

</div>
